.btn {
  border-width: 2px;
}
body {
  font-family: Outfit;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: -0.05em;
}
.display-1 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.7rem;
  line-height: 1.05;
  letter-spacing: -0.03em;
}
.display-2 > .mbr-iconfont {
  font-size: 3.375rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 1;
}
.display-4 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-5 {
  font-family: 'Outfit', sans-serif;
  font-size: 1.9rem;
  line-height: 1.1;
}
.display-5 > .mbr-iconfont {
  font-size: 2.375rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.08rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.82rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.16rem;
    font-size: calc( 1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 33px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 33px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 33px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 33px;
}
.bg-primary {
  background-color: #2b6c21 !important;
}
.bg-success {
  background-color: #8c8c8c !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #99c392 !important;
}
.bg-danger {
  background-color: #6ba262 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #2b6c21 !important;
  border-color: #2b6c21 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #112a0d !important;
  border-color: #112a0d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #0e3aa7 !important;
  border-color: #0e3aa7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #071e57 !important;
  border-color: #071e57 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #8c8c8c !important;
  border-color: #8c8c8c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #616161 !important;
  border-color: #616161 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #99c392 !important;
  border-color: #99c392 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #65a45a !important;
  border-color: #65a45a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #6ba262 !important;
  border-color: #6ba262 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #476d40 !important;
  border-color: #476d40 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #2b6c21;
  color: #2b6c21;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #112a0d !important;
  background-color: transparent!important;
  border-color: #112a0d !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2b6c21 !important;
  border-color: #2b6c21 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #0e3aa7;
  color: #0e3aa7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #071e57 !important;
  background-color: transparent!important;
  border-color: #071e57 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #0e3aa7 !important;
  border-color: #0e3aa7 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #8c8c8c;
  color: #8c8c8c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #616161 !important;
  background-color: transparent!important;
  border-color: #616161 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #8c8c8c !important;
  border-color: #8c8c8c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #99c392;
  color: #99c392;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #65a45a !important;
  background-color: transparent!important;
  border-color: #65a45a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #99c392 !important;
  border-color: #99c392 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #6ba262;
  color: #6ba262;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #476d40 !important;
  background-color: transparent!important;
  border-color: #476d40 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #6ba262 !important;
  border-color: #6ba262 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #2b6c21 !important;
}
.text-secondary {
  color: #0e3aa7 !important;
}
.text-success {
  color: #8c8c8c !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #99c392 !important;
}
.text-danger {
  color: #6ba262 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #0c1e09 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #061949 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #595959 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #5f9a55 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #40633b !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #2b6c21;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #99c392;
}
.alert-danger {
  background-color: #6ba262;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2b6c21;
  border-color: #2b6c21;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #2b6c21;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #57c646;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #cccccc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e6f0e4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b6d1b2;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #2b6c21 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.625rem;
}
blockquote {
  border-color: #2b6c21;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #2b6c21;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #2b6c21;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #2b6c21;
  border-bottom-color: #2b6c21;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #2b6c21 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #0e3aa7 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%232b6c21' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.btn-primary,
.btn-secondary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-white,
.btn-black {
  padding: 15px !important;
  min-width: 100px !important;
}
.cid-tbW55t7jzO {
  z-index: 1000;
  width: 100%;
}
.cid-tbW55t7jzO .navbar-dropdown {
  background-color: #ffffff !important;
  padding: 0;
  position: fixed;
}
.cid-tbW55t7jzO .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #ffffff !important;
  background: #ffffff;
}
.cid-tbW55t7jzO .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-tbW55t7jzO .menu_box .navbar.opened,
  .cid-tbW55t7jzO .menu_box .navbar-collapse {
    background-color: transparent !important;
    transition: all 0s ease 0s;
  }
}
.cid-tbW55t7jzO nav.navbar {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cid-tbW55t7jzO .icons-menu-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-tbW55t7jzO .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
    display: flex;
  }
}
.cid-tbW55t7jzO .mbr-section-btn-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-tbW55t7jzO .mbr-section-btn-main {
    margin-top: 1rem;
    display: block;
  }
}
.cid-tbW55t7jzO .btn {
  min-height: 24px;
  border: none;
  box-shadow: none;
  margin-top: 0;
}
.cid-tbW55t7jzO .btn:hover {
  border: none;
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-tbW55t7jzO .offcanvas {
    padding: 120px 60px 35px;
    width: 480px;
    background-color: #ffffff;
  }
  .cid-tbW55t7jzO .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-tbW55t7jzO .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-tbW55t7jzO .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-tbW55t7jzO .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-tbW55t7jzO .offcanvas-body .mbr-text,
  .cid-tbW55t7jzO .offcanvas-body .mbr-section-subtitle {
    margin-top: 14px;
  }
  .cid-tbW55t7jzO .offcanvas-body .offcanvas_contact {
    margin: 35px 0;
  }
  .cid-tbW55t7jzO .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tbW55t7jzO .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #2b6c21;
  }
  .cid-tbW55t7jzO .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-tbW55t7jzO .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-tbW55t7jzO .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-tbW55t7jzO .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-tbW55t7jzO ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-tbW55t7jzO .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tbW55t7jzO .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-tbW55t7jzO .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-tbW55t7jzO li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
  }
  .cid-tbW55t7jzO .lg_brand {
    margin: 0 1rem;
  }
}
.cid-tbW55t7jzO .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-tbW55t7jzO .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-tbW55t7jzO .nav-item {
    margin: 0 !important;
  }
}
.cid-tbW55t7jzO .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tbW55t7jzO .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: 72px !important;
    left: -40px !important;
  }
  .cid-tbW55t7jzO .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-tbW55t7jzO .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tbW55t7jzO .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-tbW55t7jzO .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-tbW55t7jzO .offcanvas_box {
    display: none;
  }
}
.cid-tbW55t7jzO .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-tbW55t7jzO .nav-dropdown .link {
  font-weight: 600 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-tbW55t7jzO .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tbW55t7jzO .nav-link {
  position: relative;
  color: #000000;
}
.cid-tbW55t7jzO .nav-link::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: -4px;
  background-color: transparent;
  height: 2px;
  transition: all .3s ease;
}
.cid-tbW55t7jzO .container {
  display: flex;
  margin: auto;
}
.cid-tbW55t7jzO .iconfont-wrapper {
  color: #2b6c21;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-tbW55t7jzO .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-tbW55t7jzO .iconfont-wrapper:hover {
  color: #2b6c21;
}
.cid-tbW55t7jzO .navbar-caption {
  color: #000000;
}
.cid-tbW55t7jzO .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-tbW55t7jzO .navbar-nav {
    margin: 0;
  }
}
.cid-tbW55t7jzO .navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}
.cid-tbW55t7jzO .dropdown-menu,
.cid-tbW55t7jzO .navbar.opened {
  background-color: false !important;
}
.cid-tbW55t7jzO .nav-item:focus,
.cid-tbW55t7jzO .nav-link:focus {
  outline: none;
}
.cid-tbW55t7jzO .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tbW55t7jzO .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tbW55t7jzO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tbW55t7jzO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tbW55t7jzO .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tbW55t7jzO .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tbW55t7jzO .navbar {
  min-height: 120px;
  transition: all 0.3s;
  border-bottom-width: 0px;
  border-bottom: 1px solid #e5e5e5;
}
.cid-tbW55t7jzO .navbar.opened {
  transition: all 0.3s;
}
.cid-tbW55t7jzO .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-tbW55t7jzO .navbar .navbar-logo img {
  min-width: 34px;
  min-height: 34px;
  object-fit: cover;
}
.cid-tbW55t7jzO .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tbW55t7jzO .navbar.collapsed {
  justify-content: center;
}
.cid-tbW55t7jzO .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tbW55t7jzO .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tbW55t7jzO .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tbW55t7jzO .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tbW55t7jzO .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tbW55t7jzO .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-tbW55t7jzO .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tbW55t7jzO .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-tbW55t7jzO .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-tbW55t7jzO .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tbW55t7jzO .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tbW55t7jzO .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-tbW55t7jzO .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tbW55t7jzO .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tbW55t7jzO .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tbW55t7jzO .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-tbW55t7jzO .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-tbW55t7jzO .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-tbW55t7jzO .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tbW55t7jzO .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tbW55t7jzO .navbar .icons-menu {
    padding: 0;
  }
}
.cid-tbW55t7jzO .navbar.navbar-short {
  min-height: 60px;
}
.cid-tbW55t7jzO .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tbW55t7jzO .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tbW55t7jzO .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tbW55t7jzO .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tbW55t7jzO .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tbW55t7jzO .dropdown-item.active,
.cid-tbW55t7jzO .dropdown-item:active {
  background-color: transparent;
}
.cid-tbW55t7jzO .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tbW55t7jzO .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tbW55t7jzO .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tbW55t7jzO .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tbW55t7jzO ul.navbar-nav {
  flex-wrap: wrap;
  padding-bottom: 0;
}
.cid-tbW55t7jzO .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tbW55t7jzO button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #ffffff;
  background: #ffffff;
}
.cid-tbW55t7jzO button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #2b6c21;
}
.cid-tbW55t7jzO button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tbW55t7jzO button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tbW55t7jzO button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tbW55t7jzO button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tbW55t7jzO nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tbW55t7jzO nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tbW55t7jzO nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tbW55t7jzO nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tbW55t7jzO a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-tbW55t7jzO .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tbW55t7jzO .navbar {
    height: 70px;
  }
  .cid-tbW55t7jzO .navbar.opened {
    height: auto;
  }
  .cid-tbW55t7jzO .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tbW55t7jzO .mbr-section-btn .btn,
.cid-tbW55t7jzO .mbr-section-btn-main .btn {
  height: 21px;
  min-width: 70px;
  position: relative;
  overflow: visible;
  padding: 0 12px 0 0;
  justify-content: flex-start;
  margin-left: 28px;
  box-shadow: none;
}
.cid-tbW55t7jzO .mbr-section-btn .btn:first-child,
.cid-tbW55t7jzO .mbr-section-btn-main .btn:first-child {
  margin-left: 9.6px;
}
.cid-tbW55t7jzO .mbr-section-btn .btn:focus,
.cid-tbW55t7jzO .mbr-section-btn-main .btn:focus {
  box-shadow: none;
}
.cid-tbW55t7jzO .mbr-section-btn .btn span,
.cid-tbW55t7jzO .mbr-section-btn-main .btn span {
  position: absolute;
  right: -12px;
  width: 18px;
  height: 18px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #2b6c21;
  color: #ffffff;
  margin: 2px 0 0 12px;
  padding-left: 2px;
  transition: all .33s ease;
}
.cid-tbW55t7jzO .mbr-section-btn .btn:hover,
.cid-tbW55t7jzO .mbr-section-btn-main .btn:hover {
  transform: scale(1) !important;
  color: #2b6c21 !important;
}
.cid-tbW55t7jzO .mbr-section-btn .btn:hover span,
.cid-tbW55t7jzO .mbr-section-btn-main .btn:hover span {
  width: 28px;
  border-radius: 22px;
  right: -28px;
}
.cid-tbW55t7jzO .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .cid-tbW55t7jzO .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.cid-tbW55t7jzO .navbar-caption:hover {
  color: #2b6c21;
}
.cid-tbW55t7jzO .nav-link:hover {
  color: #2b6c21;
}
.cid-tbW55t7jzO .nav-link:hover::before {
  background-color: #2b6c21;
}
.cid-tbW55t7jzO .mbr-section-subtitle {
  color: #124ad6;
}
.cid-tbW55t7jzO .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-tbW55t7jzO .mbr-section-subtitle,
.cid-tbW55t7jzO .text_widget {
  text-align: left;
  color: #2b6c21;
}
.cid-tbW55t7jzO a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-tbW55HckPm {
  padding-top: 0rem;
  padding-bottom: 7rem;
  background-image: url("../../../assets/images/dsc01660-85-2000x1336.jpg");
}
.cid-tbW55HckPm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbW55HckPm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbW55HckPm .mbr-section-btn .btn {
  min-width: 120px;
  height: 21px;
  position: relative;
  overflow: visible;
  margin-left: 28px;
  box-shadow: none;
}
.cid-tbW55HckPm .mbr-section-btn .btn:first-child {
  margin-left: 9.6px;
}
.cid-tbW55HckPm .mbr-section-btn .btn:focus {
  box-shadow: none;
}
.cid-tbW55HckPm .mbr-section-btn .btn span {
  position: absolute;
  right: -6px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #124ad6;
  color: #ffffff;
  margin: 2px 0 0 12px;
  padding-left: 2px;
  transition: all .10s ease;
}
.cid-tbW55HckPm .mbr-section-btn .btn:hover {
  transform: scale(1) !important;
  color: #ffffff !important;
}
.cid-tbW55HckPm .mbr-section-btn .btn:hover span {
  width: 28px;
  border-radius: 22px;
  right: -16px;
}
.cid-tbW55HckPm .mbr-section-title {
  margin: 0;
  color: #ffffff;
}
.cid-tbW55HckPm .mbr-section-title,
.cid-tbW55HckPm .mbr-section-btn {
  color: #fafafa;
  text-align: right;
}
.cid-tbW55HckPm .mbr-section-title,
.cid-tbW55HckPm .mbr-section-btn P {
  text-align: center;
}
.cid-tbW5uWf9B0 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2b6c21;
}
.cid-tbW5uWf9B0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbW5uWf9B0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbW5uWf9B0 .title-wrapper {
  padding-top: 20px;
  border-top: 2px solid #ffffff;
  margin: 0 160px 200px;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tbW5uWf9B0 .title-wrapper {
    padding-top: 12px;
    margin: 0 30px 100px;
  }
}
.cid-tbW5uWf9B0 .title-wrapper .mbr-section-title {
  margin: 0;
}
.cid-tbW5uWf9B0 .cards {
  padding: 0 175px;
  margin: 0;
}
@media (max-width: 992px) {
  .cid-tbW5uWf9B0 .cards {
    padding: 0 43px;
  }
}
.cid-tbW5uWf9B0 .cards .card:first-child {
  padding: 0 35px 0 0;
}
@media (min-width: 1400px) {
  .cid-tbW5uWf9B0 .cards .card:first-child {
    padding: 0 85px 0 0;
  }
}
@media (max-width: 992px) {
  .cid-tbW5uWf9B0 .cards .card:first-child {
    padding: 0;
  }
}
.cid-tbW5uWf9B0 .cards .card:nth-child(2) {
  padding: 0 20px;
}
@media (min-width: 1400px) {
  .cid-tbW5uWf9B0 .cards .card:nth-child(2) {
    padding: 0 55px;
  }
}
@media (max-width: 992px) {
  .cid-tbW5uWf9B0 .cards .card:nth-child(2) {
    padding: 0;
  }
}
.cid-tbW5uWf9B0 .cards .card:last-child {
  padding: 0 0 0 35px;
}
@media (min-width: 1400px) {
  .cid-tbW5uWf9B0 .cards .card:last-child {
    padding: 0 0 0 85px;
  }
}
@media (max-width: 992px) {
  .cid-tbW5uWf9B0 .cards .card:last-child {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .cid-tbW5uWf9B0 .cards .card {
    margin-bottom: 60px;
  }
}
.cid-tbW5uWf9B0 .cards .card .card-wrapper {
  padding-top: 20px;
  border-top: 2px solid #ffffff;
}
@media (max-width: 992px) {
  .cid-tbW5uWf9B0 .cards .card .card-wrapper {
    padding-top: 12px;
  }
}
.cid-tbW5uWf9B0 .cards .card .card-wrapper .mbr-text {
  margin: 0;
}
.cid-tbW5uWf9B0 .mbr-section-title {
  color: #FFFFFF;
}
.cid-tbW5uWf9B0 .mbr-text {
  color: #FFFFFF;
}
.cid-tbW5jLzUyR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tbW5jLzUyR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbW5jLzUyR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbW5jLzUyR .mbr-section-btn .btn {
  height: 21px;
  min-width: 70px;
  position: relative;
  overflow: visible;
  padding: 0 12px 0 0;
  justify-content: flex-start;
  margin-top: 0;
  margin-left: 28px;
  box-shadow: none;
}
.cid-tbW5jLzUyR .mbr-section-btn .btn:first-child {
  margin-left: 9.6px;
}
.cid-tbW5jLzUyR .mbr-section-btn .btn:focus {
  box-shadow: none;
}
.cid-tbW5jLzUyR .mbr-section-btn .btn span {
  position: absolute;
  right: -12px;
  width: 18px;
  height: 18px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #124ad6;
  color: #ffffff;
  margin: 2px 0 0 12px;
  padding-left: 2px;
  transition: all .33s ease;
}
.cid-tbW5jLzUyR .mbr-section-btn .btn:hover {
  transform: scale(1) !important;
  color: #2b6c21 !important;
}
.cid-tbW5jLzUyR .mbr-section-btn .btn:hover span {
  width: 28px;
  border-radius: 22px;
  right: -28px;
}
.cid-tbW5jLzUyR .title-container {
  display: flex;
  justify-content: space-between;
  margin: 0 160px 200px;
  padding: 20px 40px 0 0;
  border-top: 2px solid #e5e5e5;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tbW5jLzUyR .title-container {
    display: block;
    margin: 0 30px 100px;
    padding: 12px 0 0 0;
  }
}
.cid-tbW5jLzUyR .title-container .title-wrapper {
  width: 50%;
}
@media (max-width: 992px) {
  .cid-tbW5jLzUyR .title-container .title-wrapper {
    width: 100%;
  }
}
.cid-tbW5jLzUyR .title-container .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tbW5jLzUyR .title-container .title-wrapper .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-tbW5jLzUyR .cards {
  margin: 0 160px;
}
@media (max-width: 992px) {
  .cid-tbW5jLzUyR .cards {
    margin: 0 16px;
  }
}
@media (max-width: 1040px) {
  .cid-tbW5jLzUyR .cards .card {
    padding: 0 12px;
  }
}
.cid-tbW5jLzUyR .cards .card .mbr-amount {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #124ad6;
}
@media (max-width: 992px) {
  .cid-tbW5jLzUyR .cards .card .mbr-amount {
    padding-bottom: 12px;
  }
}
.cid-tbW5jLzUyR .cards .card .mbr-desc {
  margin: 20px 0 0 0;
}
@media (max-width: 992px) {
  .cid-tbW5jLzUyR .cards .card .mbr-desc {
    margin: 12px 0 0 0;
  }
}
.cid-tbW5jLzUyR .mbr-section-title {
  color: #000000;
}
.cid-tbW5jLzUyR .mbr-amount {
  color: #124ad6;
}
.cid-tbW5jLzUyR .mbr-desc {
  color: #000000;
}
.cid-tbW5AHqCIZ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #124ad6;
}
.cid-tbW5AHqCIZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbW5AHqCIZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbW5AHqCIZ .text-wrapper {
  margin: 0 160px;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tbW5AHqCIZ .text-wrapper {
    margin: 0 30px;
  }
}
.cid-tbW5AHqCIZ .text-wrapper .mbr-desc {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .cid-tbW5AHqCIZ .text-wrapper .mbr-desc {
    margin-bottom: 12px;
  }
}
.cid-tbW5AHqCIZ .text-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tbW5AHqCIZ .text-wrapper .mbr-text {
  margin: 40px 0 0 0;
}
@media (max-width: 992px) {
  .cid-tbW5AHqCIZ .text-wrapper .mbr-text {
    margin: 20px 0 0 0;
  }
}
.cid-tbW5AHqCIZ .mbr-section-title {
  color: #FFFFFF;
}
.cid-tbW5AHqCIZ .mbr-desc {
  color: #FFFFFF;
}
.cid-tbW5AHqCIZ .mbr-text {
  color: #FFFFFF;
}
.cid-tbW5suflSg {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tbW5suflSg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbW5suflSg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbW5suflSg .title-wrapper {
  margin: 0 160px;
  border-top: 2px solid #e5e5e5;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tbW5suflSg .title-wrapper {
    margin: 0 30px;
  }
}
.cid-tbW5suflSg .title-wrapper .mbr-section-title {
  padding-top: 20px;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-tbW5suflSg .title-wrapper .mbr-section-title {
    padding-top: 12px;
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .cid-tbW5suflSg .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-tbW5suflSg .cards {
  margin: 0 144px;
}
@media (max-width: 992px) {
  .cid-tbW5suflSg .cards {
    margin: 0 18px;
  }
}
@media (max-width: 768px) {
  .cid-tbW5suflSg .cards {
    margin: 0 30px;
  }
}
.cid-tbW5suflSg .cards .card {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-tbW5suflSg .cards .card {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .cid-tbW5suflSg .cards .card {
    padding: 0;
  }
}
.cid-tbW5suflSg .cards .card .card-wrapper {
  position: relative;
  width: 100%;
  min-height: 510px;
}
.cid-tbW5suflSg .cards .card .card-wrapper .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 510px;
  background: #124ad6;
  opacity: 0;
  transition: all .3s ease;
  z-index: 1;
  pointer-events: none;
}
@media (max-width: 992px) {
  .cid-tbW5suflSg .cards .card .card-wrapper .card-overlay {
    z-index: 0;
  }
}
.cid-tbW5suflSg .cards .card .card-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 510px;
  object-fit: cover;
  pointer-events: visible;
}
.cid-tbW5suflSg .cards .card .card-wrap {
  margin-top: 40px;
  display: flex;
  transform: translate(-36px, 0);
  transition: all .3s ease;
}
@media (max-width: 992px) {
  .cid-tbW5suflSg .cards .card .card-wrap {
    margin-top: 25px;
    transform: none;
  }
}
.cid-tbW5suflSg .cards .card .card-wrap span {
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-right: 12px;
  opacity: 0;
  transition: all .4s ease;
}
@media (max-width: 992px) {
  .cid-tbW5suflSg .cards .card .card-wrap span {
    opacity: 1;
  }
}
.cid-tbW5suflSg .cards .card .card-wrap .card-title {
  margin: 0;
}
.cid-tbW5suflSg .card-link:hover .card-wrapper .card-overlay {
  opacity: .7;
}
.cid-tbW5suflSg .card-link:hover .card-wrap {
  transform: translate(0, 0);
}
.cid-tbW5suflSg .card-link:hover .card-wrap span {
  opacity: 1;
  color: #124ad6;
}
.cid-tbW5suflSg .mbr-section-title {
  color: #000000;
}
.cid-tbW5suflSg .card-title,
.cid-tbW5suflSg .mbr-iconfont {
  color: #000000;
}
.cid-tbW5suflSg .card-link:hover .card-wrap .card-title {
  color: #124ad6;
}
.cid-tt1u6vgyyE {
  background-color: #e5e5e5;
}
@media (max-width: 992px) {
  .cid-tt1u6vgyyE .form-title,
  .cid-tt1u6vgyyE .form-wrapper {
    padding: 0;
  }
}
.cid-tt1u6vgyyE .mbr-section-btn {
  margin-top: 60px;
}
@media (max-width: 992px) {
  .cid-tt1u6vgyyE .mbr-section-btn {
    margin-top: 30px;
  }
}
.cid-tt1u6vgyyE .mbr-section-btn .btn {
  height: 21px;
  min-width: 70px;
  position: relative;
  overflow: visible;
  padding: 0 12px 0 0;
  justify-content: flex-start;
  margin-left: 28px;
  box-shadow: none;
}
.cid-tt1u6vgyyE .mbr-section-btn .btn:first-child {
  margin-left: 9.6px;
}
.cid-tt1u6vgyyE .mbr-section-btn .btn:focus {
  box-shadow: none;
}
@media (max-width: 768px) {
  .cid-tt1u6vgyyE .mbr-section-btn .btn {
    max-width: 85px;
  }
}
.cid-tt1u6vgyyE .mbr-section-btn .btn span {
  position: absolute;
  right: -12px;
  width: 18px;
  height: 18px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #124ad6;
  color: #ffffff;
  margin: 2px 0 0 12px;
  padding-left: 2px;
  transition: all .33s ease;
}
.cid-tt1u6vgyyE .mbr-section-btn .btn:hover {
  transform: scale(1) !important;
  color: #2b6c21 !important;
}
.cid-tt1u6vgyyE .mbr-section-btn .btn:hover span {
  width: 28px;
  border-radius: 22px;
  right: -28px;
}
.cid-tt1u6vgyyE .title-wrapper {
  margin-left: 160px;
  margin-right: 30px;
}
@media (max-width: 992px) {
  .cid-tt1u6vgyyE .title-wrapper {
    margin: 0 30px 25px;
  }
}
.cid-tt1u6vgyyE .title-wrapper .mbr-section-title {
  margin: 0;
}
.cid-tt1u6vgyyE .mbr-form {
  margin-right: 160px;
}
@media (max-width: 992px) {
  .cid-tt1u6vgyyE .mbr-form {
    margin: 0 30px;
  }
}
.cid-tt1u6vgyyE .mbr-form .dragArea .mbr-section-subtitle {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-tt1u6vgyyE .mbr-form .dragArea .mbr-section-subtitle {
    margin-bottom: 20px;
  }
}
.cid-tt1u6vgyyE .mbr-form .dragArea .form-group {
  margin-bottom: 20px !important;
}
@media (max-width: 992px) {
  .cid-tt1u6vgyyE .mbr-form .dragArea .form-group {
    margin-bottom: 12px !important;
  }
}
.cid-tt1u6vgyyE .mbr-form .dragArea .form-group .form-control {
  min-height: 50px;
  padding: 10px 25px;
  background: transparent;
  box-shadow: none;
  border: none !important;
  border-bottom: 2px solid #272727 !important;
  border-radius: 0;
}
.cid-tt1u6vgyyE .mbr-form .dragArea .form-group .form-control:hover {
  border: none !important;
  border-bottom: 2px solid #124ad6 !important;
}
.cid-tt1u6vgyyE .mbr-form .dragArea .form-group .form-control:focus {
  border: none !important;
  border-bottom: 2px solid #124ad6 !important;
}
.cid-tt1u6vgyyE .mbr-section-title {
  color: #000000;
}
.cid-tt1u6vgyyE .mbr-section-subtitle {
  color: #000000;
}
.cid-tbW5Fj6Nzv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tbW5Fj6Nzv .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbW5Fj6Nzv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbW5Fj6Nzv .text-wrapper {
  position: relative;
  margin: 0 160px 60px;
  padding-top: 20px;
  border-top: 2px solid #e5e5e5;
}
@media (max-width: 992px) {
  .cid-tbW5Fj6Nzv .text-wrapper {
    margin: 0 30px 40px;
    padding-top: 12px;
  }
}
@media (max-width: 768px) {
  .cid-tbW5Fj6Nzv .text-wrapper {
    margin: 0 30px 30px;
  }
}
.cid-tbW5Fj6Nzv .text-wrapper .mbr-section-title {
  margin: 0;
}
.cid-tbW5Fj6Nzv .text-wrapper .mbr-text {
  margin-top: 20px;
}
@media (max-width: 992px) {
  .cid-tbW5Fj6Nzv .text-wrapper .mbr-text {
    margin-top: 12px;
  }
}
.cid-tbW5Fj6Nzv .client-wrapper {
  margin: 0 144px;
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-tbW5Fj6Nzv .client-wrapper {
    margin: 0 18px;
  }
}
.cid-tbW5Fj6Nzv .client-wrapper .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-tbW5Fj6Nzv .client-wrapper .card {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .cid-tbW5Fj6Nzv .client-wrapper .card {
    height: auto;
    margin-bottom: 40px;
  }
}
.cid-tbW5Fj6Nzv .client-wrapper .card img {
  width: 65%;
  object-fit: cover;
}
.cid-tbW5Fj6Nzv .mbr-section-title {
  color: #000000;
}
.cid-tbW5Fj6Nzv .mbr-text {
  color: #000000;
}
.cid-tbWmdHJYdY {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #e5e5e5;
}
.cid-tbWmdHJYdY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbWmdHJYdY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbWmdHJYdY .row-main {
  margin-bottom: 200px;
}
@media (max-width: 992px) {
  .cid-tbWmdHJYdY .row-main {
    margin-bottom: 140px;
  }
}
@media (max-width: 768px) {
  .cid-tbWmdHJYdY .row-main {
    margin-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .cid-tbWmdHJYdY .title {
    display: none;
  }
}
.cid-tbWmdHJYdY .title-wrapper {
  display: flex;
}
.cid-tbWmdHJYdY .title-wrapper img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 15%;
}
.cid-tbWmdHJYdY .title-wrapper .mbr-section-title {
  margin: 0;
}
.cid-tbWmdHJYdY .list {
  list-style: none;
  padding-left: 0;
  color: #000000;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbWmdHJYdY .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbWmdHJYdY .list {
    margin-bottom: 0;
  }
}
.cid-tbWmdHJYdY .social-wrapper {
  width: 100%;
}
.cid-tbWmdHJYdY .social-row {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .cid-tbWmdHJYdY .social-row {
    margin-top: 12px;
  }
}
.cid-tbWmdHJYdY .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
  margin-bottom: 20px;
  height: 18px;
  width: 18px;
}
.cid-tbWmdHJYdY .soc-item a span {
  font-size: 18px;
}
@media (max-width: 768px) {
  .cid-tbWmdHJYdY .card-list {
    display: none;
  }
}
.cid-tbWmdHJYdY .mbr-section-subtitle {
  margin-bottom: 20px;
  color: #8c8c8c;
}
@media (max-width: 992px) {
  .cid-tbWmdHJYdY .mbr-section-subtitle {
    margin-bottom: 12px;
  }
}
@media (max-width: 768px) {
  .cid-tbWmdHJYdY .mbr-section-subtitle {
    display: none;
  }
}
.cid-tbWmdHJYdY .mbr-text {
  margin-bottom: 20px;
  transition: all .3s ease;
}
@media (max-width: 992px) {
  .cid-tbWmdHJYdY .mbr-text {
    margin-bottom: 12px;
  }
}
.cid-tbWmdHJYdY .mbr-contact {
  margin-bottom: 0;
  padding-bottom: 6px;
  transition: all .3s ease;
  color: #000000;
}
@media (max-width: 992px) {
  .cid-tbWmdHJYdY .mbr-contact {
    padding-bottom: 4px;
  }
}
.cid-tbWmdHJYdY .copyright-container {
  display: flex;
}
@media (max-width: 768px) {
  .cid-tbWmdHJYdY .copyright-container {
    display: block;
  }
}
.cid-tbWmdHJYdY .copyright-container .copyright-wrapper {
  width: 50%;
}
@media (max-width: 768px) {
  .cid-tbWmdHJYdY .copyright-container .copyright-wrapper {
    width: 100%;
  }
}
.cid-tbWmdHJYdY .copyright-container .copyright-wrapper .copyright {
  margin-bottom: 20px;
}
.cid-tbWmdHJYdY .copyright-container .copyright-list {
  width: 50%;
}
@media (max-width: 768px) {
  .cid-tbWmdHJYdY .copyright-container .copyright-list {
    width: 100%;
  }
}
.cid-tbWmdHJYdY .copyright-container .copyright-list ul {
  display: inline-flex;
}
.cid-tbWmdHJYdY .copyright-container .copyright-list ul .mbr-copy {
  margin: 0 30px 0 0;
  transition: all .3s ease;
}
.cid-tbWmdHJYdY .item-wrap:hover,
.cid-tbWmdHJYdY p:hover,
.cid-tbWmdHJYdY .mbr-iconfont:hover {
  color: #2b6c21;
}
.cid-tbWmdHJYdY .mbr-section-title,
.cid-tbWmdHJYdY .mbr-iconfont {
  color: #000000;
}
.cid-tbWmdHJYdY .copyright {
  color: #000000;
}
.cid-tbWmdHJYdY .list-copy {
  color: #000000;
}
